:root {

  --transparency: 0.6;
  --bg-dark: #161616;
  --bg-dark-transparent: rgba(16, 16, 16, var(--transparency));
  --bg-light: #252525;
  --bg-light-transparent: rgba(25, 25, 25, var(--transparency));
  --main-color: #006ACC;
  --main-color-light: #189DF8;
  --accent: #BEC0CD;
  --accent-light: #CCCCD6;
  --white: #FFFFFF;

  --toolbar-height: 76px;

  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;

  color: var(--accent);
  background-color: var(--bg-dark);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  --font-family: 'Inter', sans-serif;
}
*, input, button{
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--accent);
  font-size: 1rem;
}
.glass-light{
  background-color: var(--bg-dark-transparent);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}
.glass-medium{
  background-color: var(--bg-dark-transparent);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}
.glass-strong{
  background-color: var(--bg-dark-transparent);
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}
.shadow-light{
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, var(--transparency));
          box-shadow: 0px 0px 4px rgba(0, 0, 0, var(--transparency));
}
.shadow-medium{
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, var(--transparency));
          box-shadow: 0px 0px 8px rgba(0, 0, 0, var(--transparency));
}
.shadow-strong{
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, var(--transparency));
          box-shadow: 0px 0px 16px rgba(0, 0, 0, var(--transparency));
}
.shadow-inset-light{
  -webkit-box-shadow: inset 0px 0px 4px var(--bg-dark-transparent);
          box-shadow: inset 0px 0px 4px var(--bg-dark-transparent);
  /* backdrop-filter: blur(1px); */
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}
.shadow-inset-medium{
  -webkit-box-shadow: inset 0px 0px 8px var(--bg-dark-transparent);
          box-shadow: inset 0px 0px 8px var(--bg-dark-transparent);
  /* backdrop-filter: blur(4px); */
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}
.shadow-inset-strong{
  -webkit-box-shadow: inset 0px 0px 16px var(--bg-dark-transparent);
          box-shadow: inset 0px 0px 16px var(--bg-dark-transparent);
  /* backdrop-filter: blur(8px); */
  -webkit-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
}
.round{
  border-radius: 1rem !important;
}
.round-top{
  border-radius: 1rem 1rem 0 0;
}
.round-top-right{
  border-radius: 0 1rem 0 0;
}
.round-bottom{
  border-radius: 0 0 1rem 1rem;
}
.round-bottom-right{
  border-radius: 0 0 1rem 0;
}
.round-left{
  border-radius: 1rem 0 0 1rem;
}
.round-right{
  border-radius: 0 1rem 1rem 0;
}
::-webkit-scrollbar {
  width: .5rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-dark);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-light);
  -webkit-filter: opacity(.5);
          filter: opacity(.5);
  border-radius: 1rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}
@font-face {
  font-family: 'distant-galaxy';
  src: url('/distant-galaxy.ttf');
}
img {
  image-rendering: crisp-edges;
  /* Safari seems to support, but seems deprecated and does the same thing as the other. */
  image-rendering: -webkit-optimize-contrast;
}